<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart">Bar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/doughnut-chart">Doughnut Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/radar-chart">Radar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pie-chart">Pie Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bubble-chart">Bubble Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/line-chart">Line Chart</a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>