<div style="padding: 10px">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label for="selectedChartType">Select chart type:</label>
                <select class="form-control" [(ngModel)]="selectedChartType" name="selectedChartType">
                    <option value selected disabled>Select</option>
                    <option *ngFor="let ct of selectChartType" [value]="ct.value">{{ct.displayName}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="chartTitle">Enter title for you chart:</label>
                <input type="text" class="form-control" [(ngModel)]="chartTitle" name="chartTitle" />
            </div>
            <div class="col-md-4" *ngIf="selectedChartType === 'line'">
                <label for="lineThickness">Line thickness</label>
                <select class="form-control" [(ngModel)]="lineThickness" name="lineThickness">
                    <option value selected disabled>Select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="legendPosition">Legend</label>
                <select class="form-control" [(ngModel)]="legendPosition" name="legendPosition">
                    <option value selected disabled>Select</option>
                    <option value="top">Top</option>
                    <option value="left">Left</option>
                    <option value="right">Right</option>
                    <option value="bottom">Bottom</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <label for="chartLabels">How many dataset you want to analyse in chart (comma separated):</label>
                {{chartLabels}}
                <textarea class="form-control" [(ngModel)]="chartLabels"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngIf="selectedChartType === 'bar'">
                <label for="stacked">Stacked: </label>
                <input class="form-check-input checkbox" type="checkbox" name="stacked" [(ngModel)]="stacked">
            </div>
            <div class="col-md-4" *ngIf="selectedChartType === 'line'">
                <label for="isStraightLine">Straight Line: </label>
                <input class="form-check-input checkbox" type="checkbox" name="isStraightLine"
                    [(ngModel)]="isStraightLine">
            </div>
        </div>
    </div>

    <button class="btn btn-primary" (mousedown)="addItem()" (touchstart)="addItem()" [disabled]="!canAddWidget">
        Add Widget
    </button>
</div>
<div>
    <div style="height: 100vh;">
        <gridster [options]="options" id="dashboardGrid">
            <gridster-item [item]="item1" *ngFor="let chart of charts; let i = index">
                <div
                    style="height: 30px; width: 100%; cursor: grab; display: flex; align-items: center; justify-content: flex-end">
                    <button
                        style="height: 20px; width: 21px; margin-right: 4px; cursor: pointer; border: 1px solid #E9ECEF; border-radius: 4px"
                        (mousedown)="minimizeItem($event, item)" (touchstart)="minimizeItem($event, item)">_</button>
                    <button
                        style="height: 20px; width: 21px; margin-right: 8px; cursor: pointer; border: 1px solid #E9ECEF; border-radius: 4px"
                        (mousedown)="removeChart($event, chart)" (touchstart)="removeChart($event, chart)">x</button>
                    <button title="Expand Chart" mat-button
                        style="height: 20px; width: 21px; margin-right: 8px; cursor: pointer; border: 1px solid #E9ECEF; border-radius: 4px"
                        (mousedown)="openExpandedView($event, chart)" (touchstart)="openExpandedView($event, chart)">
                        <i class="fa fa-expand"></i>
                    </button>
                </div>
                <canvas *ngIf="chart.chartType === 'pie' || chart.chartType === 'doughnut'" baseChart
                    [data]="chart.data" [labels]="chart.label" [chartType]="chart.chartType" [colors]="chart.color"
                    [legend]="chart.legend" [options]="chart.options"></canvas>
                <canvas *ngIf="chart.chartType === 'bar' || chart.chartType === 'line' || chart.chartType === 'radar'"
                    baseChart [datasets]="chart.data" [labels]="chart.label" [chartType]="chart.chartType"
                    [legend]="chart.legend" [options]="chart.options"></canvas>
            </gridster-item>

        </gridster>
    </div>