<h1 mat-dialog-title style="text-align:center;">{{selectedChart.options.title.text}}</h1>
<mat-dialog-content>
    <div>
        <canvas class="canvas" *ngIf="selectedChart.chartType === 'pie' || selectedChart.chartType === 'doughnut'" baseChart [data]="selectedChart.data"
            [labels]="selectedChart.label" [chartType]="selectedChart.chartType" [colors]="selectedChart.color" [legend]="selectedChart.legend"
            [options]="selectedChart.options"></canvas>
        <canvas class="canvas" *ngIf="selectedChart.chartType === 'bar' || selectedChart.chartType === 'line' || selectedChart.chartType === 'radar'" baseChart
            [datasets]="selectedChart.data" [labels]="selectedChart.label" [chartType]="selectedChart.chartType" [legend]="selectedChart.legend"
            [options]="selectedChart.options"></canvas>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>